<div class="row">
  <div class="col-md-9">
    <h3 class="error">{{error}}</h3>
    <button
      class="btn btn-primary",
      style="background-color: slategrey;",
      id="back",
      onclick={goBack()} 
    >Volver</button>
  </div>
</div>