<div class="menu">
  <h3>Tienda online</h3>
  <ul>
    <li><a href="/products">Productos</a></li>
    <li><a href="/users/login">Iniciar sesión</a></li>
    <li><a href="/users/registration">Registrarse</a></li>
    <li><a href="/users/account">Mi cuenta</a></li>
  </ul>
</div>