<div class="row">
  <div class="col-md-9">
    <h3>Login de usuario</h3>
    <form id="user" autocomplete="off" method="post" action="/users/login">
      <label class="form-label">Ingrese su email:</label>
      <input
        type="email"
        id="username"
        name="username"
        required
        class="form-control"
      />
      <label class="form-label">Ingrese su contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-control"
      />
      <input type="submit" class="btn btn-primary" value="Ingresar" />
    </form>
    <a href="/users/registration">¿No tienes cuenta? Registrate</a>
  </div>
</div>