<div class="row">
  <div class="col-md-9">
    <h3>Registro de usuario</h3>
    <form
      id="user"
      autocomplete="off"
      method="post"
      action="/users/registration"
      enctype="multipart/form-data"
    >
      <label class="form-label">Ingrese su nombre:</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        class="form-control"
      />
      <label class="form-label">Ingrese su dirección:</label>
      <input
        type="text"
        id="direction"
        name="direction"
        required
        class="form-control"
      />
      <label class="form-label">Ingrese su edad:</label>
      <input type="number" id="age" name="age" required class="form-control" />
      <label class="form-label">Ingrese su celular:</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        required
        class="form-control"
        placeholder="Ej: +54 11 1234-5678"
      />
      <label class="form-label">Ingrese su foto:</label>
      <input
        type="file"
        id="photo"
        name="photo"
        required
        class="form-control"
        accept="image/*"
      />
      <label class="form-label">Ingrese su correo electrónico:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="form-control"
      />
      <label class="form-label">Ingrese su contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-control"
      />
      <input type="submit" class="btn btn-primary" value="Registrar" />
    </form>
    <a href="/users/login">¿Ya tienes cuenta? Inicia sesión</a>
  </div>
</div>