<div class="col-md-9 chat">
    <h3>Mi chat</h3>
    <form id="newMessage" autocomplete="off">
      <div class="mb-9">
        <h5 class="form-label">{{user.username}}</h5>
        {{!-- <input
          type="email"
          id="email"
          class="form-control"
          value=""
          required
        /> --}}
      </div>
      <div class="mb-9">
        <label class="form-label">Mensaje:</label>
        <input
          type="text"
          id="text"
          class="form-control"
          required
        />
      </div>
      <input type="submit" class="btn btn-primary" value="Enviar"/>
    </form>
    <div id="messages" class="mb-9"></div>
  </div>
